---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "mixins";
@import "colours";
@import "normalize";
@import "typography";

body {
  padding-left: 40%;
}

.view {
  @include clearfix;
  height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  max-width: 800px;
  overflow-x: hidden;
  position: relative;
}

.content {
  @include clearfix;
  top: 0;
  left: 0;
  position: absolute;
  padding: 140px 60px 0 60px;
  transition: all 0.6s cubic-bezier(0.2, 0.3, 0.3, 1);
}

.content--next {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.content--dismiss {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.main_image {
  top: 0;
  left: 0;
  width: 40%;
  z-index: 99;
  height: 100%;
  position: fixed;
  background-size: cover;
  background-color: $dark;
  background-position: center;
  box-shadow: 10px 0 20px white;
}

.nav_toggle {
  top: 20px;
  left: 20px;
  width: 22px;
  z-index: 110;
  display: none;
  position: absolute;

  div {
    height: 2px;
    background: white;
    border-radius: 2px;
    margin-bottom: 4px;
    transition: 0.3s ease-out;
  }
}

nav {
  top: 50px;
  width: 100%;
  right: 60px;
  z-index: 99;
  text-align: right;
  position: absolute;

  a {
    color: $copy;
    margin-left: 40px;
    font-size: 0.95rem;
    &:hover { color: $dark; text-decoration: none; }
    &.current { color: $blue; }
  }
}

// list of services
.services {
  @include clearfix;

  .service {
    width: 45%;
    float: left;
    margin-bottom: 10px;
    line-height: 1.6rem;

    h4 { font-weight: 600; }

    &.service-ux_design h4 { color: $blue; }
    &.service-ui_design h4 { color: $purple; }
    &.service-front_end h4 { color: $orange; }
    &.service-ruby h4 { color: $red; }

    p {
      color: $grey;
      font-size: 0.8rem;
    }
  }

  .service:nth-child(odd) { margin-right: 10%; }
}

.projects {
  @include clearfix;
  padding-top: 30px;

  .project_card {
    width: 45%;
    float: left;
    height: 170px;
    display: block;
    perspective: 750px;
    margin-bottom: 30px;

    a {
      width: 100%;
      height: 100%;
      padding: 25px;
      display: block;
      /* Rectangle 1: */
      border-radius: 5px;
      transition: all 0.3s ease-out;
      background-image: linear-gradient(-180deg, #69728B 0%, #505872 100%);
      box-shadow: 0px 1px 15px 0px rgba(52,58,75,0.10), 0px 2px 10px 0px rgba(139,145,169,0.36);
      // box-shadow: 0 1px 5px rgba($dark, 0.2),
      // 0 20px 20px -15px rgba($dark, 0.25);

      &:hover {
        text-decoration: none;
        box-shadow:
        0 0 25px rgba(0, 0, 0, 0.1),
        0 20px 20px -10px rgba($dark, 0.25),
        0 40px 40px -15px rgba($dark, 0.25);
      }

      h3 {
        color: white;
        font-size: 1.4rem;
        margin-bottom: 10px;
        pointer-events: none;
      }

      p {
        color: white;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.5rem;
        pointer-events: none;
      }
    }
  }

  .project_card:nth-child(odd) { margin-right: 5%; }
}

.project_content {
  img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
  }
}

.project_footer {
  padding-top: 30px;
  padding-bottom: 80px;
}

.check_it_out {
  color: white;
  cursor: pointer;
  font-weight: 600;
  background: $blue;
  padding: 10px 25px;
  border-radius: 3px;
  margin-right: 20px;
  box-shadow: 0 1px 4px rgba($dark, 0.25);

  &:hover {
    text-decoration: none;
    background: darken($blue, 5);
  }
}

.back_to_projects {
  color: $grey;
}

.social_links {
  @include clearfix;
  left: 0px;
  bottom: 0px;
  z-index: 100;
  position: absolute;

  li {
    float: left;
    list-style: none;
    margin-right: 10px;
  }

  a {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: 0 0;
    background-size: 96px 48px;
    background-image: url('/assets/images/social.png');

    &.github {
      background-position: 0 0;
      &:hover { background-position: 0 -24px; }
    }

    &.dribbble {
      background-position: -24px 0;
      &:hover { background-position: -24px -24px; }
    }

    &.twitter {
      background-position: -48px 0;
      &:hover { background-position: -48px -24px; }
    }

    &.linkedin {
      background-position: -72px 0;
      &:hover { background-position: -72px -24px; }
    }
  }
}

@media (max-width: 700px) {
  html, body {
    font-size: 13px;
    padding-left: 0;
  }

  .view {
    padding: 0;
    overflow: visible;

    .content { padding: 50px 30px 0 30px; }
  }

  .nav_toggle {
    display: block;
  }

  nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    padding-top: 100px;
    background: rgba($dark, 0.9);
    transition: all 0.5s ease-out;

    opacity: 0;
    visibility: hidden;

    a {
      display: block;
      font-size: 20px;
      margin: 0 0 30px 0;
      text-align: center;
      color: rgba(white, 0.8);
      &:active { color: white; }
    }
  }

  .main_image {
    width: 100%;
    height: 30vh;
    display: block;
    position: relative;
  }

  .social_links {
    display: none;
  }

  .projects {
    .project_card {
      width: 100%;
      margin: 0 0 30px 0;
    }
  }

  .back_to_projects {
    display: block;
    margin-top: 30px;
  }
}

body.nav_open {
  .nav_toggle div:nth-child(1) { transform: rotate(45deg) translate(2px, 6px); }
  .nav_toggle div:nth-child(2) { opacity: 0; }
  .nav_toggle div:nth-child(3) { transform: rotate(-45deg) translate(2px, -6px); }

  nav {
    opacity: 1;
    visibility: visible;
  }
}
